{%extends 'all-projects/base.html'%}

{% block content %}
<h1 class="text-center"> Welcome to the Project show case</h1>
<p class="text-center">This are some of the projects have worked on in this field of software development.</p>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Quotes</h5>
                    <p class="card-text">This application helps to discover and post some of the best quotes he/she
                        likes.</p>
                    <a href="https://github.com/Patrick322/Quotes" class="btn btn-primary">View project</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">GitApp</h5>
                    <p class="card-text">The application helps users to find their github username and repositories.</p>
                    <a href="
                    https://patrick322.github.io/GitApp/" class="btn btn-primary">View project</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Quotes</h5>
                    <p class="card-text">This application helps to discover and post some of the best quotes he/she
                        likes.</p>
                    <a href="https://github.com/Patrick322/Quotes" class="btn btn-primary">View project</a>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}